.vscode/**
.vscode-test/**
src/**
node_modules/
.gitignore
.gitattributes
.yarnrc
vsc-extension-quickstart.md
README.md
CHANGELOG.md
tsconfig.json
eslint.config.mjs
build.js
**/*.map
**/*.ts
**/eslint.config.mjs
**/.vscode-test.*